@charset "UTF-8";

body {
background-color: rgb(143, 158, 187);

}
h1{
color: coral;
font-size: 22;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
color: chocolate;
font-size: 18;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
text-align: justify;
color: gold;
}